/*
Theme Name: Zahid
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: zahid

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #f1f1f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}


/**
 * 2.0 - Genericons
 */

.social-navigation a:before,
.secondary-toggle:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.comment-navigation .nav-next a:after,
.comment-navigation .nav-previous a:before,
.posted-on:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before,
.pagination .prev:before,
.pagination .next:before,
.image-navigation a:before,
.image-navigation a:after,
.format-link .entry-title a:after,
.entry-content .more-link:after,
.entry-summary .more-link:after,
.author-link:after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/**
 * 3.0 Typography
 */

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "Noto Serif", serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #707070;
	border-left: 4px solid rgba(51, 51, 51, 0.7);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;
}

blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

body{
	font-family: 'Myriad Pro', sans-serif;
}

textarea{
	resize: none;
}

form  {
	margin-bottom: 0;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}

a{
	color: inherit;
}
a:hover{
	text-decoration: none;
}

h1, h2, h3{
	font-weight: bold;
	margin-bottom: 14px;
	color: #003678;
}
h1{
	font-size: 38px;
}
h2{
	font-size: 34px;
}

hr{
	margin: 40px 0;
}

.blue-bg{
	background-image: url('../images/blue-bg.png');
	background-position: 0 0;
	background-repeat-y: no-repeat;
	background-size: contain;
	background-repeat-x: no-repeat;
}
.header {
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
}

.header-top{
	background: #ffcc00;
	height: 60px;
	position: relative;
	padding: 0 32px;
	color: #585858;
}

.header-top .slog{
	font-size: 28px;
	margin: 0;
	margin-left: 115px;
}

.header-top ul li{
	line-height: 14px;
	font-size: 14px;
	padding: 0 3px;
	border-right: 1px solid #585858;
}

.header-top ul li:last-child{
	border-right: 0;
}

.logo{
	z-index: 9990;
	position: absolute;
	bottom: -32px;
	left: 38px;
}

.header-links{
	font-size: 13px;
	margin-bottom: 14px;
}

.menu-wrapper{
	position: absolute;
	top: auto;
	right: 0;
	left: 0;
}

.menu{
	color: #fff;
	height: 82px;

}
.menu h4{
	color: #ffcc00;
	font-size: 18px;
	margin: 0;
	margin-bottom: 4px;
}

.env-block{
	background: #003577; /* Old browsers */
	background: -moz-linear-gradient(left, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
	border-bottom-left-radius: 12px;
	padding: 25px 20px 10px;
	z-index: 999;
}

.env-block ul{
	border-top: 1px solid #fff;
	display: inline-block;
}

.menu ul li{
	margin: 6px 7px 0 0;
	font-size: 14px;
	line-height: 14px;
}

.search-block{
	background: #003577; /* Old browsers */
	background: -moz-linear-gradient(left, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */
	border-bottom-right-radius: 12px;
	padding: 52px 20px 10px;
	z-index: 999;
}
.search-wrapper{
	position: relative;
}

.search{
	position: absolute;
	top: -10px;
	right: 70px;
	z-index: 9999;
}
.input-search{
	border-radius: 15px;
	height: auto;
	padding: 6px 18px;
	font-size: 14px;
	font-style: italic;
}


.inline-list li{
	display: inline-block;
}
.caption-wrapper{
	position: relative;
	width: 100%;
}
.caption-title{
	background: #fff;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	padding: 18px 30px;
	margin: 0 20px;
}

.carousel-inner{
	max-height: 605px;
}

.caption-title a {
	text-transform: uppercase;
}
.carousel-caption{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	right: 0;
	top: 86px;
	bottom: auto;
	left: 0;
	z-index: 10;
	text-align: left;
	color: #003678;
}

.caption-container{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
}

.under-slider{
	margin-top: -22px;
}
.inner-nav-wrapper{
	position: relative;
	width: 100%;
	margin: 22px 0;
}
.inner-nav{
	text-align: center;
	width: 100%;
	z-index: 999;
	margin: 0 12px;
	background: url('../images/nav-group-bg.png') repeat-x;
}

.inner-nav-left{
	position: absolute;
	top: 0;
	left: 0;
	height: 116px;
	z-index: 9999;
	width: 12px;
	background: url('../images/nav-group-bg-left.png') repeat-x;
}
.inner-nav-right{
	position: absolute;
	top: 0;
	right: 0;
	height: 116px;
	z-index: 9999;
	width: 12px;
	background: url('../images/nav-group-bg-right.png') repeat-x;
}

.inner-nav p{
	margin: 14px 0 19px;
	text-transform: uppercase;
	color: #585858;
}

.inner-nav a{
	text-transform: uppercase;
	margin: 20px 0 0;
	display: inline-block;
	font-size: 18px;
	line-height: 15px;
	color: #003678;
}

.nav-icon{
	display: inline-block;
	height: 63px;
	width: 80px;
	background-image: url('../images/nav-group-icons.png');
}
.nav-icon-block{
	margin: 10px 0;
	padding-top: 5px;
	border-right: 1px solid #d4d4d4;
}

.inner-nav .nav-icon-block:last-child{
	border-right: 0;
}
.price{
	background-position: 0 0;
}

.compare{
	background-position: -82px 0;
}

.find{
	background-position: -155px 0;
}

.docs{
	background-position: -242px 0;
}

.products-container{
}
.product-item{
	margin: 20px 0;
	font-size: 12px;
}
.product-item p{
	margin-bottom: 0.5rem;
	line-height: 16px;
}
.product-item img{
	padding-bottom: 20px;
}
.product-item a.more{
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	background: #003577;
	color: #ffcc00;
	display: block;
}
.product-item h4{
	text-decoration: underline;
	text-transform: uppercase;
	color: #003577;
}

.page-link{
	background: #ffcc00;
	color: #003577;
	border-radius: 4px;
	margin-right: 5px;
	padding: .3rem .75rem;
}
#main{
	margin: 10px 0 40px;
}
.footer{
	padding: 40px 0;
	background: #003577; /* Old browsers */
	background: -moz-linear-gradient(top, #003577 0%, #2989d8 100%, #0053b9 100%, #2989d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003577 0%,#2989d8 100%,#0053b9 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003577', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.footer h4{
	margin-bottom: 17px;
	color: #fff;
}

.footer-links li{
	text-transform: uppercase;
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 14px;
}

.social a{

}

.h4{
	font-size: 24px;
	display: block;
	text-transform: uppercase;
	border-bottom: 4px solid;
	color: #003678;
}
.social li{
	margin: 0 3px 10px;
}
.social-icon{
	display: inline-block;
	background-image: url('../images/socials.png');
	height: 31px;
	width: 31px;
}

.facebook{
	background-position: 0 0;
}
.twitter{
	background-position: -46px 0;
}

.youtube{
	background-position: -93px 0;
}

.instagramm{
	background-position: 0 31px;
}

.linkedin{
	background-position: 77px 105px;
}
.google{
	background-position: 31px 32px;
}

.pagination{
	padding: 17px 0;
}
.contact-form input,
.contact-form textarea{
	background: #3379ce;
	opacity: 0.9;
	color: #fff;
	font-size: 11px;
	font-style: italic;
	width: 100%;
	border: 0;
	padding: 4px 8px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
	color: #ddd;
}

.contact-form .form-group{
	margin-bottom: 7px;
}

.featurette{
	margin: 20px 0;
}

.breadcrumbs{
	padding: 20px 20px 10px;
	background: #fff;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	color: #003678;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 72px;
}
.breadcrumbs span{
	color: #495057;
}
.filters{
	margin-top: 72px;
	padding: 20px 20px 10px;
	background: #fff;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	color: #003678;
	text-transform: uppercase;
	font-size: 14px;
}

.filters .form-group{
	margin-bottom: 0;
	line-height: 14px;
}
.filters input,
.filters textarea{
	background: #eee;
	opacity: 0.9;
	color: #000;
	font-size: 11px;
	font-style: italic;
	border: 0;
	padding: 4px 8px;
	margin: 0;
}

.filters label{
	margin: 0;
}

.tabs-block{
	margin-top: 14px;
	width: 100%;
}
.tabs-block .tab-content {
	padding: 30px 0;
	border-top: 1px solid #495057;
	margin-top: -3px;
}
.nav-tabs .nav-link{
	background: none;
	color: #495057;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	padding: 0;
}
.nav-tabs{
	border-bottom: 0;
}
.nav-tabs .nav-item:first-child .nav-title {
	margin-left: 0;
}

.nav-tabs .nav-item:last-child .nav-title {
	border-right: 0;
}
.nav-tabs .nav-item {
	margin-bottom: 0;
}

.nav-title{
	border-right: 1px solid #444;
	display: inline-block;
	margin: .5rem 0 1rem 1rem;
	padding: 0;
	padding-right: 1rem;
	font-size: 20px;
	line-height: 20px;
}

.nav-tabs .nav-link.show .nav-link, .nav-tabs .nav-link.active{
	color: #003678;
	background: none;
	border: 0;
	border-bottom: 3px solid #ffcc00;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	/*border: 0;*/
	color: #003678;
}

.nav-tabs{
	height: auto;
}

.tab-content p{
	color: #495057;
	font-size: 16px;
	line-height: 20px;
}

.mobile-top-nav {
	display: none;
	overflow: hidden;
	position: relative;
}

.mobile-top-nav #top-nav-links {
	display: none;
	background: #003577;
	color: #fff;
	text-align: center;
}

.mobile-top-nav a{
	display: block;
	padding: 14px 16px;
}

.mobile-top-nav .mobile-top-header{
	background: #ffcc00;
	color: #585858;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.mobile-top-nav a.icon {
	background-image: url('../images/menu-icon.png');
	background-size: cover;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.mobile-top-nav a:hover {
	background-color: #ddd;
	color: black;
}

.mobile-top-nav .mobile-logo {
	max-height: 60px;
}


@media (min-width: 991px){
	.h4{
		margin-right: 10%;
	}
	.caption-title{
		padding: 15px 22px;
		margin: 0;
	}
	h2{
		font-size: 28px;
	}

}


@media (max-width: 991px) {
	.sm-full{
		max-width: 100%;
	}

	.header-top .slog {
		font-size: 28px;
	}

	.menu ul li {
		margin: 3px 4px 0 0;
		font-size: 11px;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size: 24px;
	}
	.nav-title{
		font-size: 15px;
		line-height: 15px;
	}
	.nav-icon-block{
		border-right: 0;
	}

	.inner-nav a{
		font-size: 14px;
	}
}
@media (max-width: 768px){
	.product-item{
		text-align: center;
	}
	.mobile-top-nav{
		display: block;
	}
	.header{
		display: none;
	}

	.breadcrumbs, .filters{
		margin-top: 0;
	}
}